* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

.dark-background {
    background-color: #1f2937;
}

.padding-lr {
    padding: 0 15%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav ul a, .hero .text p {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 16px;
    padding: 64px 0;
    flex-wrap: wrap-reverse;
}

.hero .text, .hero .image {
    flex: 1;
    min-width: 298px;
}

.hero 

.image {
    display: flex;
    align-items: center;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    /* min-width: 298px; */
}

.hero .text h1 {
    color: #f9faf8;
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero .text p {
    margin-bottom: 16px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
}